name: example
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter
  dart_board:
    path: ../dart_board
  dart_board_interface: 
    path: ../dart_board_interface
  dart_board_theme_extension:
    path: ../extensions/dart_board_theme_extension
  dart_board_debug_extension:
    path: ../extensions/dart_board_debug_extension

  dart_board_log_extension:
    path: ../extensions/dart_board_log_extension

  easy_rich_text: ^0.5.4
  # We'll use this in the Example project
  flutter_syntax_view: ^4.0.0
  animated_text_kit: ^4.2.1


dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic: ^1.11.0
  
flutter:
  uses-material-design: true
