<div class="modal fade" id="modalExample" tabindex="-1" role="dialog" aria-labelledby="modalExampleTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!-- Close -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        <!-- Image -->
        <div class="text-center">
          <img src="{{webRoot}}/assets/img/illustrations/illustration-1.png" alt="..." class="img-fluid mb-3" style="width: 200px;">
        </div>

        <!-- Heading -->
        <h2 class="fw-bold text-center mb-1" id="modalExampleTitle">
          Schedule a demo with us
        </h2>

        <!-- Text -->
        <p class="fs-lg text-center text-muted mb-6 mb-md-8">
          We can help you solve company communication.
        </p>

        <!-- Form -->
        <form>
          <div class="row">
            <div class="col-12 col-md-6">

              <!-- First name -->
              <div class="form-floating">
                <input type="text" class="form-control form-control-flush" id="registrationFirstNameModal" placeholder="First name">
                <label for="registrationFirstNameModal">First name</label>
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Last name -->
              <div class="form-floating">
                <input type="text" class="form-control form-control-flush" id="registrationLastNameModal" placeholder="Last name">
                <label for="registrationLastNameModal">Last name</label>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">

              <!-- Email -->
              <div class="form-floating">
                <input type="email" class="form-control form-control-flush" id="registrationEmailModal" placeholder="Email">
                <label for="registrationEmailModal">Email</label>
              </div>

            </div>
            <div class="col-12 col-md-6">

              <!-- Password -->
              <div class="form-floating">
                <input type="password" class="form-control form-control-flush" id="registrationPasswordModal" placeholder="Password">
                <label for="registrationPasswordModal">Password</label>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-12">

              <!-- Submit -->
              <button class="btn w-100 btn-primary mt-3 lift">
                Request a demo
              </button>

            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
