<footer class="py-8 py-md-11 {{classList}}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">

        <!-- Brand -->
        <img src="{{webRoot}}/assets/img/brand.svg" alt="..." class="footer-brand img-fluid mb-2">

        <!-- Text -->
        <p class="text-gray-700 mb-2">
          Flutter Feature Framework
        </p>

        <!-- Social -
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item me-3">
            <a href="#!" class="text-decoration-none">
              <img src="{{webRoot}}/assets/img/icons/social/instagram.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item me-3">
            <a href="#!" class="text-decoration-none">
              <img src="{{webRoot}}/assets/img/icons/social/facebook.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item me-3">
            <a href="#!" class="text-decoration-none">
              <img src="{{webRoot}}/assets/img/icons/social/twitter.svg" class="list-social-icon" alt="...">
            </a>
          </li>
          <li class="list-inline-item list-social-item">
            <a href="#!" class="text-decoration-none">
              <img src="{{webRoot}}/assets/img/icons/social/pinterest.svg" class="list-social-icon" alt="...">
            </a>
          </li>
        </ul> -->
</div>
</div>
</div>

</footer>
