<nav class="navbar navbar-expand-lg {{classList}}">
  <div class="{{container}}">

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}/index.html">
      <img src="{{webRoot}}/assets/img/brand.svg" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarLandings" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Landings
          </a>
          <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
            <div class="row gx-0">
              <div class="col-12 col-lg-6">
                <div class="dropdown-img-start" style="background-image: url({{webRoot}}/assets/img/photos/photo-3.jpg);">

                  <!-- Heading -->
                  <h4 class="fw-bold text-white mb-0">
                    Want to see an overview?
                  </h4>

                  <!-- Text -->
                  <p class="fs-sm text-white">
                    See all the pages at once.
                  </p>

                  <!-- Button -->
                  <a href="{{webRoot}}/overview.html" class="btn btn-sm btn-white shadow-dark fonFt-size-sm">
                    View all pages
                  </a>

                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="dropdown-body">
                  <div class="row gx-0">
                    <div class="col-6">

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Services
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="{{webRoot}}/coworking.html">
                        Coworking
                      </a>
                      <a class="dropdown-item" href="{{webRoot}}/rental.html">
                        Rental
                      </a>
                      <a class="dropdown-item mb-5" href="{{webRoot}}/job.html">
                        Job Listing
                      </a>

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Apps
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="{{webRoot}}/desktop-app.html">
                        Desktop
                      </a>
                      <a class="dropdown-item" href="{{webRoot}}/mobile-app.html">
                        Mobile
                      </a>

                    </div>
                    <div class="col-6">

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Web
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="{{webRoot}}/index.html">
                        Basic
                      </a>
                      <a class="dropdown-item" href="{{webRoot}}/startup.html">
                        Startup
                      </a>
                      <a class="dropdown-item" href="{{webRoot}}/enterprise.html">
                        Enterprise
                      </a>
                      <a class="dropdown-item" href="{{webRoot}}/service.html">
                        Service
                      </a>
                      <a class="dropdown-item" href="{{webRoot}}/cloud.html">
                        Cloud Hosting
                      </a>
                      <a class="dropdown-item" href="{{webRoot}}/agency.html">
                        Agency
                      </a>
                      <a class="dropdown-item" href="{{webRoot}}/framework.html">
                        Framework <span class="h6 text-uppercase text-primary">(new)</span>
                      </a>

                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarPages" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Pages
          </a>
          <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarPages">
            <div class="row gx-0">
              <div class="col-6">
                <div class="row gx-0">
                  <div class="col-12 col-lg-6">

                    <!-- Heading -->
                    <h6 class="dropdown-header">
                      Career
                    </h6>

                    <!-- List -->
                    <a class="dropdown-item" href="{{webRoot}}/careers.html">
                      Listing
                    </a>
                    <a class="dropdown-item mb-5" href="{{webRoot}}/career-single.html">
                      Opening
                    </a>

                    <!-- Heading -->
                    <h6 class="dropdown-header">
                      Company
                    </h6>

                    <!-- List -->
                    <a class="dropdown-item" href="{{webRoot}}/about.html">
                      About
                    </a>
                    <a class="dropdown-item" href="{{webRoot}}/pricing.html">
                      Pricing
                    </a>
                    <a class="dropdown-item mb-5 mb-lg-0" href="{{webRoot}}/terms-of-service.html">
                      Terms
                    </a>

                  </div>
                  <div class="col-12 col-lg-6">

                    <!-- Heading -->
                    <h6 class="dropdown-header">
                      Help center
                    </h6>

                    <!-- List -->
                    <a class="dropdown-item" href="{{webRoot}}/help-center.html">
                      Overview
                    </a>
                    <a class="dropdown-item mb-5" href="{{webRoot}}/help-center-article.html">
                      Article
                    </a>

                    <!-- Heading -->
                    <h6 class="dropdown-header">
                      Contact
                    </h6>

                    <!-- List -->
                    <a class="dropdown-item" href="{{webRoot}}/contact.html">
                      Basic
                    </a>
                    <a class="dropdown-item" href="{{webRoot}}/contact-alt.html">
                      Cover
                    </a>

                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row gx-0">
                  <div class="col-12 col-lg-6">

                    <!-- Heading -->
                    <h6 class="dropdown-header">
                      Blog
                    </h6>

                    <!-- List -->
                    <a class="dropdown-item" href="{{webRoot}}/blog.html">
                      Rich View
                    </a>
                    <a class="dropdown-item" href="{{webRoot}}/blog-post.html">
                      Article
                    </a>
                    <a class="dropdown-item" href="{{webRoot}}/blog-showcase.html">
                      Showcase
                    </a>
                    <a class="dropdown-item mb-5 mb-lg-0" href="{{webRoot}}/blog-search.html">
                      Search
                    </a>

                  </div>
                  <div class="col-12 col-lg-6">

                    <!-- Heading -->
                    <h6 class="dropdown-header">
                      Portfolio
                    </h6>

                    <!-- List -->
                    <a class="dropdown-item" href="{{webRoot}}/portfolio-masonry.html">
                      Masonry
                    </a>
                    <a class="dropdown-item" href="{{webRoot}}/portfolio-grid-rows.html">
                      Grid Rows
                    </a>
                    <a class="dropdown-item" href="{{webRoot}}/portfolio-parallax.html">
                      Parallax
                    </a>
                    <a class="dropdown-item" href="{{webRoot}}/portfolio-case-study.html">
                      Case Study
                    </a>
                    <a class="dropdown-item" href="{{webRoot}}/portfolio-sidebar.html">
                      Sidebar
                    </a>
                    <a class="dropdown-item" href="{{webRoot}}/portfolio-sidebar-fluid.html">
                      Sidebar: Fluid
                    </a>
                    <a class="dropdown-item" href="{{webRoot}}/portfolio-grid.html">
                      Basic Grid
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </div> <!-- / .row -->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarAccount" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarAccount">
            <li class="dropdown-item dropend">
              <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                Settings
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{webRoot}}/account-general.html">
                  General
                </a>
                <a class="dropdown-item" href="{{webRoot}}/account-security.html">
                  Security
                </a>
                <a class="dropdown-item" href="{{webRoot}}/account-notifications.html">
                  Notifications
                </a>
                <a class="dropdown-item" href="{{webRoot}}/billing-plans-and-payment.html">
                  Plans & Payment
                </a>
                <a class="dropdown-item" href="{{webRoot}}/billing-users.html">
                  Users
                </a>
              </div>
            </li>
            <li class="dropdown-item dropend">
              <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                Sign In
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{webRoot}}/signin-cover.html">
                  Side Cover
                </a>
                <a class="dropdown-item" href="{{webRoot}}/signin-illustration.html">
                  Illustration
                </a>
                <a class="dropdown-item" href="{{webRoot}}/signin.html">
                  Basic
                </a>
                <a class="dropdown-item" data-bs-toggle="modal" href="#modalSigninHorizontal">
                  Modal Horizontal
                </a>
                <a class="dropdown-item" data-bs-toggle="modal" href="#modalSigninVertical">
                  Modal Vertical
                </a>
              </div>
            </li>
            <li class="dropdown-item dropend">
              <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                Sign Up
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{webRoot}}/signup-cover.html">
                  Side Cover
                </a>
                <a class="dropdown-item" href="{{webRoot}}/signup-illustration.html">
                  Illustration
                </a>
                <a class="dropdown-item" href="{{webRoot}}/signup.html">
                  Basic
                </a>
                <a class="dropdown-item" data-bs-toggle="modal" href="#modalSignupHorizontal">
                  Modal Horizontal
                </a>
                <a class="dropdown-item" data-bs-toggle="modal" href="#modalSignupVertical">
                  Modal Vertical
                </a>
              </div>
            </li>
            <li class="dropdown-item dropend">
              <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                Password Reset
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{webRoot}}/password-reset-cover.html">
                  Side Cover
                </a>
                <a class="dropdown-item" href="{{webRoot}}/password-reset-illustration.html">
                  Illustration
                </a>
                <a class="dropdown-item" href="{{webRoot}}/password-reset.html">
                  Basic
                </a>
              </div>
            </li>
            <li class="dropdown-item dropend">
              <a class="dropdown-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                Error
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{webRoot}}/error-cover.html">
                  Side Cover
                </a>
                <a class="dropdown-item" href="{{webRoot}}/error-illustration.html">
                  Illustration
                </a>
                <a class="dropdown-item" href="{{webRoot}}/error.html">
                  Basic
                </a>
              </div>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDocumentation" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Documentation
          </a>
          <div class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
            <div class="list-group list-group-flush">
              <a class="list-group-item" href="{{webRoot}}/docs/index.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  {{> general/clipboard}}
                </div>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase text-primary mb-0">
                    Documentation
                  </h6>

                  <!-- Text -->
                  <p class="fs-sm text-gray-700 mb-0">
                    Customizing and building
                  </p>

                </div>

              </a>
              <a class="list-group-item" href="{{webRoot}}/docs/alerts.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  {{> layout/layout-4-blocks}}
                </div>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase text-primary mb-0">
                    Components
                  </h6>

                  <!-- Text -->
                  <p class="fs-sm text-gray-700 mb-0">
                    Full list of components
                  </p>

                </div>

              </a>
              <a class="list-group-item" href="{{webRoot}}/docs/changelog.html">

                <!-- Icon -->
                <div class="icon icon-sm text-primary">
                  {{> files/file}}
                </div>

                <!-- Content -->
                <div class="ms-4">

                  <!-- Heading -->
                  <h6 class="fw-bold text-uppercase text-primary mb-0">
                    Changelog
                  </h6>

                  <!-- Text -->
                  <p class="fs-sm text-gray-700 mb-0">
                    Keep track of changes
                  </p>

                </div>

                <!-- Badge -->
                <span class="badge rounded-pill bg-primary-soft ms-auto">
                  2.0.0
                </span>

              </a>
            </div>
          </div>
        </li>
      </ul>

      <!-- Button -->
      <a class="navbar-btn btn btn-sm btn-{{button}} lift ms-auto" href="https://themes.getbootstrap.com/product/landkit/" target="_blank">
        Buy now
      </a>

    </div>

  </div>
</nav>
