<div class="collapse d-lg-block" id="sidenavCollapse">
  <div class="py-7 py-lg-9 px-lg-7">

    <!-- Heading -->
    <h6 class="text-uppercase fw-bold">
      Getting started
    </h6>

    <!-- Links -->
    <ul class="list mb-6">
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/index.html">Introduction</a>
      </li>
      <li class="list-item d-flex">
        <a class="list-link" href="{{webRoot}}/docs/changelog.html">Changelog</a> <span class="badge rounded-pill bg-primary-soft ms-auto align-self-center">2.0.0</span>
      </li>
    </ul>

    <!-- Heading -->
    <h6 class="text-uppercase fw-bold">
      Components
    </h6>

    <!-- Links -->
    <ul class="list mb-6">
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/alerts.html">Alerts</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/avatars.html">Avatars</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/badges.html">Badges</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/breadcrumb.html">Breadcrumb</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/buttons.html">Buttons</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/cards.html">Cards</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/devices.html">Devices</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/dropdowns.html">Dropdowns</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/forms.html">Forms</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/icons.html">Icons</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/lists.html">Lists</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/modal.html">Modal</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/navbar.html">Navbar</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/navs.html">Navs</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/pagination.html">Pagination</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/popovers.html">Popovers</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/progress.html">Progress</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/screenshot.html">Screenshot</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/shapes.html">Shapes</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/spinners.html">Spinners</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/switches.html">Switches</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/tables.html">Tables</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/toasts.html">Toasts</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/tooltips.html">Tooltips</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/typography.html">Typography</a>
      </li>
    </ul>

    <!-- Heading -->
    <h6 class="text-uppercase fw-bold">
      Plugins
    </h6>

    <!-- Links -->
    <ul class="list mb-6">
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/aos.html">AOS</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/bigpicture.html">BigPicture</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/choices.html">Choices</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/countup.html">Count up</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/dropzone.html">Dropzone</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/flickity.html">Flickity</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/isotope.html">Isotope</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/jarallax.html">Jarallax</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/map.html">Map</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/quill.html">Quill</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/smooth-scroll.html">Smooth scroll</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/typed.html">Typed</a>
      </li>
    </ul>


    <!-- Heading -->
    <h6 class="text-uppercase fw-bold">
      Utilities
    </h6>

    <!-- List -->
    <ul class="list mb-6">
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/background.html">Background</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/borders.html">Borders</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/images.html">Images</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/lift.html">Lift</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/overlay.html">Overlay</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/position.html">Position</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/shadows.html">Shadows</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/sizing.html">Sizing</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/type.html">Type</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/visibility.html">Visibility</a>
      </li>
    </ul>

    <!-- Heading -->
    <h6 class="text-uppercase fw-bold">
      Design
    </h6>

    <!-- Links -->
    <ul class="list mb-0">
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/figma.html">Figma</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="{{webRoot}}/docs/illustrations.html">Illustrations</a>
      </li>
    </ul>

  </div>
</div>
