name: Flutter_Core_Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
      - name: Install and set Flutter version
        uses: subosito/flutter-action@v1.5.3
        with:
          flutter-version: '2.2.0'
      - name: Install MELOS
        run: flutter pub global activate melos
      - name: Bootstrap
        run: melos bootstrap
      - name: Melos run all tests
        run: melos exec --dir-exists=test -- flutter test --coverage      
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v1
        
        
      
